{% extends "review/base.html" %}

{% block title %}{{ title }} - Review Place{% endblock %}

{% block content %}
<!-- ใช้ class จาก context -->
<h1 class="{{ title_class }} mb-6">{{ title }}</h1>
<div class="container mt-4">
<!-- ใช้ class จาก context -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for place in places %}
        {% include 'review/partials/place_card.html' with place=place %}
    {% empty %}
        <p class="col-span-full text-center text-gray-500 text-xl">We don't have any recommendations for you yet. Try reviewing some places!</p>
    {% endfor %}
</div>

{% include 'review/partials/pagination.html' with page_obj=page_obj %}
{% endblock %}
